.walletContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  .sectionContainer {
    background-color: map-get($theme-colors, 'sectionBg');
    .graphTitleWrap {
      padding: 1em;
    }
  }

  .sectionMargin {
    margin: $offsetComponent 0;
  }
}
